h1 {
    color: violet;
}

body {
    background-color: aquamarine;
    /* opacity: 0.2; */
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background-image: url("images/green_background.jpg");
    /* background-image: url("images/green_background2.webp"); */
    background-size: cover;
}

#message-el {
    font-style: italic;
}

button {
    color: violet;
    width: 150px;
    height: 40px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
}